# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hyung\CLionProjects\USACO\Bronze\ USACO 2021 January Contest, Bronze Problem 2. Even More Odd Photos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
