# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hyung\CLionProjects\Competitive Programming\USACO\Gold\LeetCode, 1143. Longest Common Subsequence\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
