# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hyung\CLionProjects\Competitive Programming\USACO\Gold\Atcoder Educational DP Contest, A - Frog 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
