# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hyung\CLionProjects\USACO\Gold\USACO 2017 December Contest, Gold Problem 2. Barn Painting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
