# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hyung\CLionProjects\USACO\Silver\ USACO 2020 December Contest, Silver Problem 3. Stuck in a Rut\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
